@{
    Layout = null;
}

<div class="hero-unit">
    <h1>Lorem ipsum dolor</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis metus eget mauris hendrerit luctus. Pellentesque dui dui, fermentum a fermentum at, vehicula sed est. Suspendisse potenti. Nulla euismod mauris vel tempor ornare. In malesuada eget lacus consectetur vehicula. Fusce vitae ante ut felis ornare condimentum. In porta sem vel purus feugiat, nec volutpat eros accumsan. Nunc id diam posuere, varius sapien in, ullamcorper urna. Maecenas cursus sem eget eleifend sollicitudin. Nunc et nisi dignissim, dictum odio ac, interdum lacus. Donec id varius felis, vel maximus urna. Aenean eget vehicula odio, ac rhoncus tortor. Morbi semper ligula sit amet hendrerit semper. Vivamus elementum nunc eget turpis placerat bibendum. Maecenas ultrices in felis vel iaculis. Integer tincidunt eget velit id tempus.</p>
</div>
<div class="row">
    <div class="span4">
        <h3>Duis ante eros</h3>
        <p>
            Duis ante eros, tincidunt a dolor eget, varius fermentum purus. Nulla eget vulputate elit. Integer mi sapien, imperdiet a facilisis eget, faucibus in lacus. Donec quis augue turpis. Suspendisse nisi felis, convallis vel est quis, malesuada pulvinar leo. Vivamus viverra lacus vitae erat blandit, sit amet porta mi laoreet. Sed vitae leo quis elit ultrices sodales non eu metus.
        </p>
    </div>
    <div class="span4">
        <h3>Morbi condimentum quam</h3>
        <p>
            Morbi condimentum quam sed arcu aliquet congue. Integer sollicitudin sapien sit amet metus tincidunt, quis convallis tortor condimentum. Pellentesque tincidunt tortor vitae suscipit accumsan. Etiam feugiat condimentum sapien eget fringilla. Integer nec viverra mi, eget fermentum arcu. Quisque aliquam mi erat, sed laoreet nunc efficitur et. Donec tempus odio vitae quam viverra pulvinar. In id cursus sapien. Nam a magna eros. Ut tincidunt molestie nisi vitae sodales. Vivamus ornare felis id consectetur bibendum.
        </p>
    </div>
    <div class="span4">
        <h3>Nulla semper leo</h3>
        <p>
            Nulla semper leo ac pharetra finibus. In hac habitasse platea dictumst. Nulla a eleifend nisl. Ut sapien velit, posuere sit amet elementum vitae, viverra ut nibh. Aenean et quam at orci iaculis finibus. Maecenas pulvinar ligula sit amet nibh laoreet malesuada. Donec tempor iaculis luctus. Suspendisse vitae lacus hendrerit justo mattis placerat vitae nec mi. Fusce scelerisque massa id arcu auctor, in consectetur arcu blandit. Quisque at dignissim ante. Curabitur mi ante, semper eget massa pharetra, posuere rhoncus mauris.
        </p>
    </div>
</div>

