<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <akka>
    <hocon>
      <![CDATA[
          akka {
            stdout-loglevel = INFO
            loglevel = INFO
            log-config-on-start = off 
            
						actor {
							provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"							                
              deployment {								
                /clusterhelper {
                  dispatcher = akka.actor.synchronized-dispatcher #causes TesterActor to run on the UI thread for WinForms
                }
							}
						}
						
						remote {
              log-remote-lifecycle-events = INFO
							log-received-messages = off
              log-sent-messages = off
              
							helios.tcp {                                
                transport-class = "Akka.Remote.Transport.Helios.HeliosTcpTransport, Akka.Remote"
								applied-adapters = []
								transport-protocol = tcp
								#will be populated with a dynamic host-name at runtime if left uncommented
								public-hostname = "127.0.0.1"
								hostname = "127.0.0.1"
								port = 0
							}
						}            

						cluster {							
							seed-nodes = ["akka.tcp://myservice@127.0.0.1:4053"]
							roles = [ClusterMonitor]
						}
					}
      ]]>
    </hocon>
  </akka>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>