
<div>
    <div>
        <label class="pull-left" style="font-size: 22px; font-weight: bolder;">Main Demo</label>
    </div>
    <br /><br />
    <ul style="font-size: 18px; "> 
        <li><a href="#/akka/report">Cluster Status</a></li> 
        <li><a href="#/akka/reportapi">Cluster Status - Api Call</a></li> 
        <li><a href="#/akka/servicestatus">Service Status</a></li> 
        <li><a href="#/akka/itemstatus">Item Status</a></li> 
    </ul>
</div>
