
<div>
    <div class="col-lg-12">
        <label class="pull-left" style="font-size: 18px; font-weight: bolder;">Main Demo</label>
    </div>
    <br />
    <ul> 
        <li><a href="#/akka/report">Cluster Status</a></li> 
        <li><a href="#/akka/reportapi">Cluster Status - Api Call</a></li> 
        <li><a href="#/akka/servicestatus">Service Status</a></li> 
        <li><a href="#/akka/itemstatus">Item Status</a></li> 
    </ul>
</div>
